html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, li, label, table, tbody, th, tr, td, input {
  font-size: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input {
  width: 100%;
  background: rgba(0,0,0,0.1);
  padding: 10px;
  box-sizing: border-box;
}

.level-input {
  max-width: 100px;
  margin-left: 10px;
}

body {
  height: 100%;
  width: 100%;
  font-size: 60px;
}

.poke-container {
  margin: 30px;
  box-sizing: border-box;
}

.main-container {
  margin: 30px;
  box-sizing: border-box;
  position: relative;
}

.poke-list {
  position: absolute;
  background: rgba(240,240,240,1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  width: 100%;

  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  a:hover {
    background: rgba(0,0,0,0.1);
  }
}

.level-container {
  margin-top: 20px;
}

th, td {
  padding: 0 10px;
}

th {
  border: 2px solid black;
}

td {
  border: 1px solid black;
}

@media screen and (min-device-width: 480px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 36px;
  }
}
